.check-plag{
    /* border: 1px solid red; */
    /* border:1px solid black; */
}

.check-plag form{
    background-color: rgba(255, 255, 255, 0.673); 
    padding: 10px;
    box-sizing: border-box;
    box-shadow:  2px 2px 0px gray,  -2px -2px 0px gray,  -2px 2px 0px gray,  2px -2px 0px gray;
    border-radius: 10px;
}

.challenge-lable{
    text-align: start;
}
.contest-lable{
    text-align: start;
}
.challenge-inputs{
    /* border:1px solid green ; */
    text-align: start;
}

.contest-input input{
    height:40px;
}

.challenge-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.challenge-input  input{
    height:50px;
    /* width:90%; */
    border-radius: 5px;
    border : 1px solid black;
    align-items: center;
}
.challenge-input button{
    /* width: 5%; */
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.908);
    border-radius: 5px;
    color: white;
    padding: 0;
    font-size: larger;

    display: flex;
    justify-content: center;
    align-items: center;
}
.add-challenge{
    padding: 5px;
    background-color: #0d6dfc;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
}

.submit-btn{
    margin-top: 20px;
    border: 1px solid #1e6955;
    padding: 10px;
    background-color: #1e6955;
    color:white;
    border-radius: 10px;
    font-weight: bolder;
}

.plag-results{
    margin-top: 20px;
    text-align: start;
    background-color: rgba(255, 255, 255, 0.673); 
    padding: 10px;
    box-sizing: border-box;
    /* box-shadow:  2px 2px 0px gray,  -2px -2px 0px gray,  -2px 2px 0px gray,  2px -2px 0px gray; */
    border-radius: 10px;
}

.plag-results h2{
    margin: 0 0 10px 0;
    color: #1e6955;
    font-weight: bold;
}

a:link{
    color: blue;
}
a:visited{
    color: red;
}

.links{
    width: 100%;
    padding: 10px;
}

a{
    overflow: auto;
    width: 100%;
    display: block;
}

.options{
    /* border: 1px solid black; */
    padding: 0;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.option-icon{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    /* background-color: gray; */
}

@media (min-width: 600px) {
    .option-icon {
        height: 50%;
        width: 50%;
    }
}