.App{
    box-sizing: border-box;
    height: 100vh;
    margin: auto;
    padding: 0 8vw;
    text-align: center;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #cadccb;

}
.App h1{
    margin: 5px 0 20px 0;
    padding: 5px;
    color: white;
    background-color: #1e6955bd;
    box-shadow:  2px 2px 0px  #40937e,  -2px -2px 0px  #40937e,  -2px 2px 0px  #40937e,  2px -2px 0px  #40937e;
    border-radius: 5px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .tab-link {
    margin: 0 15px; 
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.673);
    color: #1e6955;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .tab-link:hover {
    background-color: #1e695535;
  }
  
  .tab-link.active {
    background-color: #1e6955;
    color: white;
  }

@media (max-width: 600px) {
    .App {
        width: 100vw;
    }
}